body {
	background-color: #F0F8FF;
	font-family: "Helvetica";
}

h1 {
	text-shadow: 3px 3px 3px;
}

h2 {
	border-bottom-style: black;
}

.high {
	color: red;
}

.low {
	color: green;
}

.medium {
	color: orange;
}
